<div class="grid">
    <div class="col">
        <p-card header="Advanced Card" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="View Details" [style]="{'width': '23.3rem'}" icon="pi pi-eye"></p-button>
                <!--  -->
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Advanced Card" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="View Details" [style]="{'width': '23.3rem'}" icon="pi pi-eye"></p-button>
                
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Advanced Card" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="View Details" [style]="{'width': '23.3rem'}" icon="pi pi-eye"></p-button>
                
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Advanced Card" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="View Details" [style]="{'width': '23.3rem'}" icon="pi pi-eye"></p-button>
                
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Advanced Card" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="View Details" [style]="{'width': '23.3rem'}" icon="pi pi-eye"></p-button>
                
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Advanced Card" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="View Details" [style]="{'width': '23.3rem'}" icon="pi pi-eye"></p-button>
                
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Advanced Card" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="View Details" [style]="{'width': '23.3rem'}" icon="pi pi-eye"></p-button>
                
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Advanced Card" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="View Details" [style]="{'width': '23.3rem'}" icon="pi pi-eye"></p-button>
                
            </ng-template>
        </p-card>
    </div>
    <div class="col">
        <p-card header="Advanced Card" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <ng-template pTemplate="footer">
                <p-button label="View Details" [style]="{'width': '23.3rem'}" icon="pi pi-eye"></p-button>
                
            </ng-template>
        </p-card>
    </div>
</div>

