<div class="flex justify-content-end mb-4">
  <p-button (click)="show()" label="ADD Sub Detail Head">
    <i class="pi pi-plus mr-3"></i>
  </p-button>
</div>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="mb-2">
  <p-tabView (onChange)="handleChange($event)">
  <p-tabPanel header="Active">
      <p>
        There are {{totalActiveSubDetailHead}} Sub Detail Head's are active out of {{totalActiveSubDetailHead + totalInactiveSubDetailHead}} Sub Detail Head's given below.
      </p>
    </p-tabPanel>
    <p-tabPanel header="Inactive">
      <p>
        There are {{totalInactiveSubDetailHead}} Sub Detail Head's are inactive out of {{totalActiveSubDetailHead + totalInactiveSubDetailHead}} Sub Detail Head's given below.
      </p>
    </p-tabPanel>
  </p-tabView>
</div>
<mh-prime-dynamic-table size="small" [numberRowsShown]="10"
  [rowsPerPageOptions]="[10, 30, 50]"  [data]="tableData" rowSelectionMode="multiple"
  [actionButtons]="actionButtonConfig" (rowSelect)="handleRowSelection($event)"
  (actionButtonClicked)="handleButtonClick($event)" (queryParameterChange)="handQueryParameterChange($event)"
  (searchKeyChange)="handleSearch($event)" [isLoading]="istableLoading" [showTopMenubar]="true" [showGlobalSearch]="false">
</mh-prime-dynamic-table>
