<div class="card"
  style="border: 1px solid;background-image: linear-gradient(to left, #243949 0%, #517fa4 100%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; height: fit-content; display: flex; justify-content: space-between; align-items: center; padding: 1rem;">
  <h2 style="color: white;font-family: sans-serif;">Sub Detail Head Table</h2>
  <p-button class="mb-10" (click)="show()" label="ADD Sub Detail Head">
    <i class="pi pi-plus mr-3"></i>
  </p-button>
</div>

<p-toast></p-toast>
<mh-prime-dynamic-table *ngIf="tableData!=null||tableData!=undefined" size="small" [numberRowsShown]="10"
  [rowsPerPageOptions]="[10, 30, 50]" [headers]="tableData.headers" [data]="tableData.data" rowSelectionMode="multiple"
  [dataCount]="alldata" [actionButtons]="actionButtonConfig" (rowSelect)="handleRowSelection($event)"
  (actionButtonClicked)="handleButtonClick($event)" (queryParameterChange)="handQueryParameterChange($event)"
  (searchKeyChange)="handleSearch($event)">
</mh-prime-dynamic-table>
