<div class="custom-dialog">
    <div class="flex flex-wrap align-items-center justify-content-end">
        <form [formGroup]="userForm" >
           
        
        
              <div class="formgrid grid">
                <div class="field col">
                   <label class="text-2xl" for="firstname2">Department Code <span class="red"> *</span></label>
                   <input id="firstname2" type="text"
                    class="text-base text-color surface-overlay p-3 hover:shadow-1 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="Code">
                  <div class="error" *ngIf="userForm.get('Code')?.touched && userForm.get('Code')?.invalid">
                     <div *ngIf="userForm.get('Code')?.errors?.['required']">
                      This field is required.
                    </div>
                    <div *ngIf="userForm.get('Code')?.errors?.['minlength']">
                      Minimum length is 2 characters.
                    </div>
                    <div *ngIf="userForm.get('Code')?.errors?.['maxlength']">
                      Maximum length is 2 characters.
                    </div>
                  </div>
                </div>
                <div class="field col">
                  <label class="text-2xl" for="lastname2">Department Name<span class="red"> *</span></label>
                  <input id="lastname2" type="text"
                    class="text-base text-color surface-overlay p-3 hover:shadow-1 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="Name">
                  <div class="error" *ngIf="userForm.get('Name')?.touched && userForm.get('Name')?.invalid">
                    <div *ngIf="userForm.get('Name')?.errors?.['required']">
                      This field is required.
                    </div>
                    <div *ngIf="userForm.get('Name')?.errors?.['minlength']">
                      Minimum length is 2 characters.
                    </div>
                  </div>
                  <div *ngIf="userForm.get('Name')?.errors?.['maxlength']">
                    Maximum length is 100 characters.
                  </div>
                </div>
              </div>
            
        
              <div class="formgrid grid">
                <div class="field col">
                  <label class="text-2xl" for="firstname2">Demand Code<span class="red"> *</span></label>
                  <input id="firstname2" type="text" (keyup)="onChangedata($event)"
                    class="text-base text-color surface-overlay p-3 hover:shadow-1 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="DemandCode">
                  <div class="error" *ngIf="userForm.get('DemandCode')?.touched && userForm.get('DemandCode')?.invalid">
                    <div *ngIf="userForm.get('DemandCode')?.errors?.['required']">
                      This field is required.
                    </div>
                    <div *ngIf="userForm.get('DemandCode')?.errors?.['minlength']">
                      Minimum length is 1 characters.
                    </div>
                    <div *ngIf="userForm.get('DemandCode')?.errors?.['maxlength']">
                      Maximum length is 2 characters.
                    </div>
                  </div>
                </div>
                <div class="field col">
                  <label class="text-2xl" for="firstname2">Address<span class="red"> *</span></label>
                  <input id="firstname2" type="text"
                    class="text-base text-color surface-overlay p-3 hover:shadow-1 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="Address">
                  <div class="error" *ngIf="userForm.get('Address')?.touched && userForm.get('Address')?.invalid">
                    <div *ngIf="userForm.get('Address')?.errors?.['required']">
                      This field is required.
                    </div>
                    <div *ngIf="userForm.get('Address')?.errors?.['minlength']">
                      Minimum length is 3 characters.
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="formgrid grid">
                <div class="field col">
                  <label class="text-2xl" for="lastname2">Pin Code<span class="red"> *</span></label>
                  <input id="lastname2" type="text"
                    class="text-base text-color surface-overlay p-3 hover:shadow-1 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="PinCode">
                  <div class="error" *ngIf="userForm.get('PinCode')?.touched && userForm.get('PinCode')?.invalid">
                    <div *ngIf="userForm.get('PinCode')?.errors?.['required']">
                      This field is required.
                    </div>
                    <div *ngIf="userForm.get('PinCode')?.errors?.['pattern']">
                      Invalid Pin Code.
                    </div>
                   
                  </div>
                </div>
                <div class="field col">
                  <label class="text-2xl" for="firstname2">Phone No.<span class="red"> *</span></label>
                  <input id="firstname2" type="text"
                    class="text-base text-color surface-overlay p-3 hover:shadow-1 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="PhoneNumber">
                  <div class="error" *ngIf="userForm.get('PhoneNumber')?.touched && userForm.get('PhoneNumber')?.invalid">
                    <div *ngIf="userForm.get('PhoneNumber')?.errors?.['required']">
                      This field is required.
                    </div>
                    <div *ngIf="userForm.get('PhoneNumber')?.errors?.['pattern']">
                      Invalid Phone Number.
                    </div>
                    
                  </div>
                </div>
              </div>
        
              <div class="formgrid grid">
                <div class="field col">
                  <label class="text-2xl" for="lastname2">Mobile No.<span class="red"> *</span></label>
                  <input id="lastname2" type="text"
                    class="text-base text-color surface-overlay p-3 hover:shadow-1 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="MobileNumber">
                  <div class="error" *ngIf="userForm.get('MobileNumber')?.touched && userForm.get('MobileNumber')?.invalid">
                    <div *ngIf="userForm.get('MobileNumber')?.errors?.['required']">
                      This field is required.
                    </div>
                    <div *ngIf="userForm.get('MobileNumber')?.errors?.['pattern']">
                      Invalid Mobile Number.
                    </div>
                     
                  </div>
                </div>
                <div class="field col">
                  <label class="text-2xl" for="firstname2">Email<span class="red"> *</span></label>
                  <input id="firstname2" type="text"
                    class="text-base text-color surface-overlay p-3 hover:shadow-1 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    formControlName="Email">
                  <div class="error" *ngIf="userForm.get('Email')?.touched && userForm.get('Email')?.invalid">
                    <div *ngIf="userForm.get('Email')?.errors?.['required']">
                      This field is required.
                    </div>
                    <div *ngIf="userForm.get('Email')?.errors?.['Email']">
                      Invalid email address.
                    </div>
                  </div>
                </div>
              </div>
              <div class="button-container" *ngIf="(dialogButts == 1); else elseBlock1">
                <div class="formgrid grid">
                    <div class="col-9">
                        <p-button class="flex flex-wrap align-items-center justify-content-end mt-4" label="Cancel"
                            icon="pi pi-times" iconPos="left" styleClass="p-button-warning"
                            (click)="cancel()"></p-button>
                    </div>
                    <div class="field col">
                        <p-button class="flex flex-wrap align-items-center justify-content-end mr-5 mt-4"
                            styleClass="p-button-success" label="Submit" icon="pi pi-check" iconPos="left"
                            (click)="submit()"></p-button>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock1>
                <div class="button-container" *ngIf="(dialogButts == 2);else elseBlock2">
                    <div class="formgrid grid">
                        <div class="col-9">
                            <p-button class="flex flex-wrap align-items-center justify-content-end mt-4" label="Cancel"
                                icon="pi pi-times" iconPos="left" styleClass="p-button-warning"
                                (click)="cancel()"></p-button>
                        </div>
                        <div class="field col">
                            <p-button class="flex flex-wrap align-items-center justify-content-end mr-5 mt-4"
                                label="Update" icon="pi pi-check" iconPos="left" styleClass="p-button-success"
                                (click)="update()"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #elseBlock2>
                <div class="button-container" *ngIf="(dialogButts == 3)">
                  <div class="formgrid grid">
                    <div class="col">
                      <p-button class="flex flex-wrap align-items-center justify-content-end mt-4" label="Close"
                        icon="pi pi-times" iconPos="left" (click)="hide()"></p-button>
                    </div>
                  </div>
                </div>
              </ng-template>
        
          </form>

        </div>
    </div>  